@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 768px;
  overflow: hidden;

  margin-left: -512px;
  margin-top: -384px;

  display: grid;
  grid-template-columns: 100px 1fr;
}

img {
  max-width: 100%;
}

.steps {
  display: grid;
}

.steps__step {
  border: 1px solid #333;
  border-right-color: orange;
}

.steps__step--active {
  border-color: orange;
  border-right: 0;
  background: orange;
}

.step {
  border: 1px solid orange;
  border-left: 0;
  padding: 1rem;
}

.step--upload {
  text-align: center;
}

.step--settings {
  display: flex;
  flex-flow: row wrap;
}

.step--settings .selected-photo {
  width: 400px;
  height: 300px;
}

.step__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.photos {
  display: grid;

  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1rem;

  overflow-y: scroll;
  max-height: 600px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.buttons--group {
  gap: 0;
}

.buttons--small {
  font-size: 12px;
}

.buttons__caption {
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
}

.button {
  padding: 1em 2em;
  background: lightgrey;
  border: 1px solid #333;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.buttons--small .button {
  padding: 0.5em 1em;
}

.button--active {
  background: orange;
}

.photo {
  height: 0;
  background-size: cover;
  padding-bottom: 66.666%;
}
