body {
  background: #444;
}

.hardware {
  position: absolute;
  top: 0;
  right: 0;
  background: lightgoldenrodyellow;
  padding: 1rem;
}

.hardware button {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 768px;
  overflow: hidden;

  margin-left: -512px;
  margin-top: -384px;

  display: grid;
  grid-template-columns: 1fr;

  --steps: 6;
  --primary: #f40002;
  --primary-border: darkblue;

  background: #000;
  color: #eee;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.App h1,
.App h2,
.App h3,
.App h4 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.App h1 {
  font-size: 36px;
}

.App h2 {
  font-size: 30px;
}

.App h3 {
  font-size: 26px;
}

.App--has-nav {
  grid-template-columns: calc(768px / var(--steps)) 1fr;
}

img {
  max-width: 100%;
}

.steps {
  display: grid;
  grid-template-rows: repeat(var(--steps), calc(100% / var(--steps)));
}

.steps__step {
  border: 1px solid #ccc;
  border-right-color: var(--primary-border);
  display: grid;
  place-items: center;
  text-decoration: none;
  background: #000;
  color: var(--primary);
}

.steps__step > .material-icons {
  font-size: 4rem;
}

.steps__step--active {
  border-color: var(--primary-border);
  border-right: 0;
  background: var(--primary);
  color: #000;
}

.steps__step--disabled {
  filter: grayscale(1);
  pointer-events: none;
}

.step {
  border: 1px solid var(--primary-border);
  padding: 1rem;
  position: relative;
}

.App--has-nav .step {
  border-left: 0;
}

.step--hello .step__content {
  text-align: center;
  padding: 0 16rem;
}

.buttons.languages {
  justify-content: space-between;
}

.language {
  background-size: contain;
  width: 5rem;
  height: 3rem;
}

.language.is-current {
  box-shadow: 0 0 10px 5px rgba(0, 0, 100, 0.3);
}

.language.en {
  background-image: url("./en.png");
}
.language.de {
  background-image: url("./de.png");
}
.language.fr {
  background-image: url("./fr.png");
}

.step--upload {
  text-align: center;
}

.modes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.pile {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
}

.pile .photo {
  width: 90%;
  position: absolute;
  box-shadow: 0 0 10px 0 rgba(0, 0, 50, 0.3);
}

.pile .photo:nth-child(2) {
  top: 15px;
  left: 15px;
}

.pile .photo:nth-child(3) {
  top: 30px;
  left: 30px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 20px 0;
}

.step--settings .selected-photo {
  width: 300px;
  height: 200px;
}

.step--settings .photos {
  overflow-x: scroll;
  overflow-y: hidden;
  grid-template-columns: repeat(var(--columns), 33%);
}

table {
  width: 100%;
}

table th,
table td {
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 0;
}

.step__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.photos {
  display: grid;

  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1rem;

  overflow-y: scroll;
  max-height: 530px;
}

.photos__photo {
  position: relative;
}

.photos__photo.is-selected {
  box-shadow: 0 0 10px 5px rgba(0, 0, 100, 0.3);
}

.photos__photo input {
  position: absolute;
  right: 8px;
  bottom: 8px;
  transform: scale(2);
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.buttons__caption {
  display: grid;
  place-items: center;
}

.button {
  padding: 1.5em 2em;
  background: var(--primary);
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;

  transition: 0.2s;
}

.button[disabled] {
  opacity: 0.5;
}

.buttons--small .button {
  padding: 0.5em 1em;
}

.button--active {
  background: var(--primary);
}

.button--back {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.button--continue {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.photo {
  height: 0;
  background-size: cover;
  padding-bottom: 66.666%;
}

.formats__format {
  display: inline-block;
  margin-right: 1rem;
}

.formats__format .button {
  display: block;
  margin-top: 0.5rem;
}

.formats__format:nth-child(1) .button {
  font-size: 80%;
}
.formats__format:nth-child(2) .button {
  font-size: 90%;
}
.formats__format:nth-child(3) .button {
  font-size: 100%;
}
.formats__format:nth-child(4) .button {
  font-size: 110%;
}
.formats__format:nth-child(5) .button {
  font-size: 120%;
}

.spinner > * {
  margin-right: 1rem;
}

.spinner input {
  width: 3rem;
  padding: 1.5rem;
  line-height: 1;
  background: transparent;
  border: 1px solid #333;
  border-radius: 8px;
  text-align: center;
  color: inherit;
}

progress {
  width: 100%;
  transition: 0.2s;
  height: 2rem;
  border: 1px solid #333;
  border-radius: 8px;
}

@keyframes warning {
  0% {
    background: #000;
  }

  50% {
    background: #825401;
  }

  100% {
    background: #000;
  }
}

p {
  margin: 0 0 1rem 0;
}

.panel {
  border: 1px solid;
  padding: 2rem;
  margin-bottom: 1rem;
}

.panel--warning {
  border-color: rgb(255, 228, 179);
  animation: warning 1.5s infinite;
}
