.App {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 768px;
  overflow: hidden;

  margin-left: -512px;
  margin-top: -384px;

  display: grid;
  grid-template-columns: 1fr;
}

.App--has-nav {
  grid-template-columns: 100px 1fr;
}

img {
  max-width: 100%;
}

.steps {
  display: grid;
  grid-template-rows: repeat(6, 16.666%);
}

.steps__step {
  border: 1px solid #333;
  border-right-color: orange;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.steps__step > .material-icons {
  font-size: 4rem;
}

.steps__step--active {
  border-color: orange;
  border-right: 0;
  background: orange;
}

.steps__step--disabled {
  filter: grayscale(1);
  pointer-events: none;
}

.step {
  border: 1px solid orange;
  padding: 1rem;
}

.App--has-nav .step {
  border-left: 0;
}

.step--hello .step__content {
  padding: 0 10rem;
}

.step--upload {
  text-align: center;
}

.modes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.step--settings .selected-photo {
  width: 300px;
  height: 200px;
}

.step__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.photos {
  display: grid;

  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1rem;

  overflow-y: scroll;
  max-height: 600px;
}

.photos__photo {
  position: relative;
}

.photos__photo input {
  position: absolute;
  right: 8px;
  bottom: 8px;
  transform: scale(2);
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.buttons--group {
  gap: 0;
}

.buttons--small {
  font-size: 12px;
}

.buttons__caption {
  display: grid;
  place-items: center;
  margin-right: 0.5rem;
}

.button {
  padding: 1em 2em;
  background: lightgrey;
  border: 1px solid #333;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  transition: 0.2s;
}

.button[disabled] {
  opacity: 0.5;
}

.buttons--small .button {
  padding: 0.5em 1em;
}

.button--active {
  background: orange;
}

.photo {
  height: 0;
  background-size: cover;
  padding-bottom: 66.666%;
}
